*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10% 30% 30% 25% 5%;
    
}
.container div{
    background-color: #473838;
    padding: 20px;
    border: 1px solid blue;
}
#cabecalho{
    text-align: center;
    background-color: aqua;
}
#conteudo-1{

    background-color: red;
}
#conteudo-2{

    background-color: aquamarine;
}
#aside{

    background-color: blue;
}
#rodape{

    background-color: purple;
}