html, body{
    margin: 20px;
    height: 100vh;
    background-color: lightgray;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background-color: white;
}

body{
    display: grid;
    /*os [] serve para nomear as linhas (criar um nome pra elas)*/
    grid-template-columns: 
    [inicio] 1fr 
    [metade-1 meio-1] 1fr 
    [metade-2 meio-2] 1fr [fim];
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /*Primeiro vem as linhas, depois as colunas*/
    grid-gap: 50px 10px;
}

.d1{
    /*metade-2 é a segunda coluna /// fim é a terceira coluna*/
    grid-column-start: metade-2;
    grid-column-end: fim;
    grid-column: meio-1 / fim; /*Vai ocupar as duas colunas, a do meio e a última*/
    grid-row: 1/ span 2;

    /*Nesse grid-area, a sequência vai ser essa:*/
    /* row-start column-start row-end column-end */
    grid-area: 1 / meio-1 / span 3 / fim;
}