@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'bebas';
    src: url(fontes/BebasNeueBold-w1w42.otf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(126, 250, 182);
}
header{
    margin: auto;
    color: white;
    display: block;
    padding: 5px 10px 10px 10px;
    background-image: linear-gradient(to bottom, rgb(83, 241, 144), rgb(6, 51, 6));
}
header > .links{
    text-align: left;
}
header > p{
    text-align: center;
    margin: 2px auto 35px auto;
}
header > h1{
    text-align: center;
    font-size: 3em;
    font-family: 'bebas';
}
.links{
    display: inline;
    text-align: left;
}
.links > a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.links:hover{
    transition: 0.2s;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(1, 17, 1);
}
main{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
    margin: auto;
    width: 700px;
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}
main > section > p{
    text-align: justify;
    text-indent: 40px;
}
section > h1{
    font-family: 'android';
    color:green;
    font-size: 30px;
}
section > h2{
    color: green;
    font-family: 'android';
    background-image: linear-gradient(to right, rgb(126, 250, 182), rgba(126, 250, 182, 0));
}
a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(35, 112, 35);
}
a:hover{
    text-decoration: underline;
}
#video{
    justify-content: center;
    align-items: center;
}
#extra{
    background-color: rgb(126, 250, 182);
    margin: auto;
    width: 650px;
    border-radius: 10px;
}
#extra > p{
    text-indent: 20px;
    text-align: justify;
    padding: 10px;
}
#titulo{
    background-color: rgb(17, 151, 17);
    color: white;
    border-radius: 10px 10px 0px 0px;
}
#titulo > p{
    text-indent: 10px;
    padding: 8px 0px 8px 0px;
}
#lista{
    display: inline-flex;
}
li > a{
    text-decoration: underline;
    color: black;
}
#lista > #lista2{
    padding-left: 120px;
}
footer{
    color: white;
    background-color: rgb(6, 51, 6);
}
footer > p{
    padding: 5px;
    text-align: center;
}