html, body{
    margin: 20px;
    height: 100vh;
    background-color: lightgray;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background-color: white;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(4, 25%);
    grid-template-columns: repeat(12, 8.33%);
    grid-template-columns: repeat(11, 100px) 100px;
    grid-template-columns: 200px 20% 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 50% 25% 12.5% 12.5%;
    grid-template-rows: 100px 1fr;
    grid-template-rows: 100px auto;
}

.d8{
    grid-column-start: 2; /*grid-column-star vai definir em qual coluna você quer que ele esteja*/
    grid-column-end: 4; /*grid-column-end você vai determinar até onde você quer terminar*/
    grid-column-end: span 2; /*span 2 serve para usar a casa atual + 2 do lado (vai dar o mesmo resultado de cima)*/

    /*É a mesma ideia do column*/
    grid-row-start: 3;
    grid-row-end:5;
    grid-row-end:span 2;
}

/*Os grids podem se sobrepor*/
.d10, .d11{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.d10{
    /*z-index serve para dar profundidade a um elemento*/
    z-index: 10;
}