*{
    padding: 0;
    margin: 0;
}

/* Início 
.container{
    background-color: #333;
    border: 4px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 10%; /*São 3 colunas no total: 50px auto e 10%*/
/*    height: 35vh;
    grid-template-rows: 70% 30%; /*Duas linhas*/
/*    gap: 5px; /*Espaçamento geral*/
    /*grid-row-gap: 5px; ---- ESPAÇAMENTO ENTRE AS LINHAS*/
    /*grid-column-gap: 10px; ---- ESPAÇAMENTO ENTRE AS COLUNAS*/
/*}

./*
container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
} */

/*Template area*/

.container{
    border: 3px solid red;
    background-color: rgb(32, 32, 32);
    padding: 15px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'sidebar conteudo conteudo conteudo'
    'footer footer footer';
    gap: 5px;
}
.container div{
    background-color: gray;
    padding: 20px;
    border: 2px solid rgb(16, 16, 141);
}
#header{
    grid-area: header;
}
#sidebar{
    grid-area: sidebar;
}
#content{
    grid-area: content;
}
#footer{
    grid-area: footer;
}
