@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-principal: 'Bebas Neue';
    --cor-primaria: rgb(255, 8, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}
#lol{
    color: var(--cor-primaria);
    border-radius: 5px;
    font-weight: bold;
}
header{
    text-shadow: 2px 0px 0px 5px black;
    background-image: url(jungler.jpg);
    background-size: cover;
    background-position: bottom;
    min-width: 200px;
    max-width: 100%;
    height: 400px;
    background-color: rgb(68, 51, 168);
    color: white;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
}
.texto h1{
    margin-bottom: 20px;
}
header p{
    margin: 20px;
    font-size: 20px;
}
#link-biel > a{
    text-decoration: none;
    color: white;
}
#link-biel > a:hover{
    color: gray;
    transition: 0.5s;
    font-weight: bold;
}
header h1{
    line-height: 0.9em;
    font-family: var(--font-principal);
    font-size: 130px;
    font-weight: bold;
}
main > article{
    margin-top: -70px;
}
.historia{
    display: flex;
    height: 200px;
    padding: 40px;
    padding-bottom: 150px;
}
.texto{
    width: 50%;
    text-align: justify;
    padding-right:40px ;
}
.bloco{
    width: 50%;
    height: 250px;
    background-color: cyan;
    border-radius: 20px;
}
#shaco{
    background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Shaco_0.jpg);
    background-position: left center;
}
.foto-champ{
    display: inline-block;
    justify-content: flex-end;
    width: 50%;
    height: 300px;

    background-color: cyan;
}
.titulo-champ{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 50px;
    background-image: linear-gradient(to right, var(--cor-primaria), black);
}
p,h1{
    color: white;
}
p{
    font-size: 20px;
    font-weight: 400;
}
aside{
    padding: 40px;
}
main{
    margin-top: 55px;
}
main h1{
    color: white;
    font-size: 40px;
}
main h1{
    color: white;
    font-size: 40px;
}
#saiba-mais{
    display: flex;
    justify-content: center;
    height: 200px;
    background-image: url(jungler.jpg);
    background-position: center center;
    margin-bottom: 40px;
}
#campeoes{
    display: flex;
    align-items: center;
}
#campeoes div{
    background-color: red;
    margin-left: 40px;
    margin-right: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid rgba(255, 0, 0, 0.418);
    box-shadow: 0px 0px 10px black;
}
#campeoes div:hover{
    scale: 1.2;
    transition: 0.5s;
}
#c1{
    background-image: url(https://leagueofitems.com/images/champions/tiles/256/35.webp);
    background-position: center center;
}
#c2{
    background-image: url(https://leagueofitems.com/images/champions/tiles/256/64.webp);
    background-position: center center;
}
#c3{
    background-image: url(https://leagueofitems.com/images/champions/tiles/256/79.webp);
    background-position: center center;
}
#c4{
    background-image: url(https://leagueofitems.com/images/champions/tiles/256/32.webp);
    background-position: center center;
}
footer{
    text-align: center;
    background-color: var(--cor-primaria);
    font-family: var(--font-principal);
    padding: 10px;
}